extends /template.pug

block main
  .intro
    p
      | This website lists people working on Bitcoin and related projects.
      | The goal is to increase the visibility of contributors to the space that are accepting donations.
      | If you are currently working on a bitcoin related open source project, submit a PR to
      = " "
      a(href=editUrl) get yourself added
      | .
    p
      | Being listed on this site should not be considered an endorsement. The order individuals are shown is randomized every visit.

  +donatees(siteData.donatees)
