:root {
  --color-white: #fff;
  --color-black: #000;

  --color-neutral-10: #f2f4f5;
  --color-neutral-20: #e9ecee;
  --color-neutral-30: #d8dee2;
  --color-neutral-40: #8697a4;
  --color-neutral-50: #748797;
  --color-neutral-60: #536b7d;
  --color-neutral-70: #2d4557;
  --color-neutral-80: #192734;
  --color-neutral-90: #15202b;
  --color-neutral-95: #0d151e;

  --color-accent: #f7931a;
  --color-accent-highlight: #e87f00;

  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2.5rem;
  --space-xxl: 4rem;

  --font-family-base: Avenir, Helvetica, Arial, sans-serif;
  --font-family-head: Avenir, Helvetica, Arial, sans-serif;
  --font-family-code: 'Fira Code', Hasklig, 'Source Code Pro',
    'DejaVu Sans Mono', Hack, Meslo, Menlo, Inconsolata, Consolas,
    'Liberation Mono', Courier, monospace;

  --font-size-xxl: 2rem;
  --font-size-xl: 1.75rem;
  --font-size-l: 1.5rem;
  --font-size-m: 1rem;
  --font-size-s: 0.875rem;
  --font-size-xs: 0.65rem;
  --font-size-code: 0.9rem;

  --transition-duration-fast: 0.25s;
  --transition-duration-medium: 0.75s;
  --transition-duration-slow: 1.5s;
}

@custom-media --up_to_M screen and (max-width: 719px);
@custom-media --up_to_L screen and (max-width: 1099px);
@custom-media --M_to_L screen and (min-width: 720px) and (max-width: 1099px);
@custom-media --M_and_up screen and (min-width: 720px);
@custom-media --L_and_up screen and (min-width: 1100px);

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  height: 100%;
  line-height: 1.65;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (--up_to_L) {
    font-size: 18px;
  }
  @media (--L_and_up) {
    font-size: 20px;
  }
}

body {
  height: 100%;
  color: var(--color-white);
  background: var(--color-neutral-90);

  transition-property: color, background;
  transition-duration: var(--transition-duration-slow);

  /* @media (prefers-color-scheme: light) {
    color: var(--color-neutral-90);
    background: var(--color-white);
  } */
}

h1,
h2,
h3,
h4,
h5,
h6,
.cta {
  font-family: var(--font-family-head);
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.015em;

  & a {
    color: inherit !important;
  }
}

h1 {
  line-height: 1.1;
  font-size: var(--font-size-xxl);

  @media (--up_to_M) {
    font-size: var(--font-size-xl);
  }
}

h2 {
  line-height: 1.1;
  padding-top: var(--space-s);
  margin-bottom: var(--space-m);
  font-size: var(--font-size-l);

  @media (--up_to_M) {
    font-size: 1.2rem;
  }
}

h3 {
  line-height: 1.25;
  padding-top: var(--space-m);
  margin-bottom: var(--space-m);
  font-size: var(--font-size-l);
}

h2,
h3 {
  color: var(--color-neutral-50);
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition-property: background, color;
  transition-duration: var(--transition-duration-fast);

  &:hover,
  &:focus {
    color: var(--color-accent-highlight);
    text-decoration: underline;
  }
}

hr {
  margin: var(--space-xxl) auto;
  height: var(--space-xxs);
  max-width: 7em;
  background: var(--color-neutral-70);
}

section {
  margin-bottom: var(--space-xxl);
}

p {
  margin-bottom: var(--space-l);
}

ul {
  margin-left: var(--space-m);
  margin-bottom: var(--space-l);

  & li + li {
    margin-top: var(--space-s);
  }
}

ol {
  margin-left: var(--space-l);
  margin-bottom: var(--space-l);
}

p,
ul,
ol {
  & + h2 {
    margin-top: var(--space-xl);
  }

  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: var(--space-l);
  }
}

body {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

img {
  text-indent: -999em;

  &:-moz-loading {
    visibility: hidden;
  }
}

.wrap {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}

.header {
  color: var(--color-white);
  background: var(--color-neutral-95);

  /* @media (prefers-color-scheme: light) {
    color: var(--color-neutral-90);
    background: var(--color-neutral-10);
  } */

  & .inner {
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    @media (--up_to_L) {
      flex-direction: column;
      text-align: center;
    }
  }

  & .logo {
    @media (--up_to_L) {
      height: 4.5em;
      margin-bottom: var(--space-m);
    }
    @media (--L_and_up) {
      height: 5.5em;
      margin-right: var(--space-l);
    }
  }

  & h1,
  & h2 {
    margin: 0;
    max-width: 17em;
  }
}

.main {
  flex: 1;
  padding-top: var(--space-l);

  & h2 {
    text-align: center;
    font-size: var(--font-size-xxl);
    margin: var(--space-l) 0 var(--space-xl);
  }
}

.intro {
  max-width: 31em;
  margin: 0 auto var(--space-xxl);
  color: var(--color-neutral-50);

  @media (--up_to_M) {
    font-size: var(--font-size-s);
  }
}

.feature {
  max-width: 31em;
  margin: var(--space-l) auto var(--space-xxl);
}

.donatees {
  list-style: none;
  display: grid;
  grid-gap: var(--space-xl);
  margin: 0;

  @media (--up_to_M) {
    grid-template-columns: 1fr;
  }
  @media (--M_to_L) {
    grid-template-columns: 1fr 1fr;
  }
  @media (--L_and_up) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  & li {
    margin: 0;
  }
}

.donatee {
  height: 100%;
  padding-top: var(--space-xl);

  & .inner {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--color-neutral-95);
    border-radius: var(--space-m);
    padding: var(--space-l);
  }

  & .avatar {
    display: block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid var(--color-neutral-95);
    margin: calc(var(--space-xxl) * -1) auto 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  & .name {
    margin: 0;
    padding: var(--space-xs) 0 var(--space-s) 0;
    text-align: center;
  }

  & .center {
    flex: 1;
  }

  & .foot {
    margin-top: var(--space-l);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & a + a {
      margin-top: var(--space-m)
    }

    & a.bolt12 {
      color: var(--color-neutral-50);
      font-size: var(--font-size-s);
    }

    & h5 {
      margin-top: var(--space-m);
    }

    & button.cta {
      margin: var(--space-s) var(--space-s) 0;
      background: var(--color-neutral-70);

      &:hover,
      &:focus {
        background: var(--color-neutral-60);
      }
    }

    & .offer button.cta {
      width: 7em;
    }
  }

  & .social {
    & a {
      position: absolute;
      top: var(--space-l);
      width: 24px;
      height: 24px;
      display: inline-block;
      background-size: 100%;
      background-repeat: no-repeat;
      outline: 0;
      color: var(--color-neutral-50);
      & svg {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }

    & a.twitter {
      left: var(--space-l);
    }

    & a.nostr,
    & a.mastodon {
      left: var(--space-xxl);
    }

    & a.github {
      right: var(--space-l);
    }

    & a.gitlab {
      right: var(--space-xxl);
    }
  }

  & .cta {
    display: inline-block;
    color: var(--color-white);
    background: var(--color-accent);
    transition-property: color, background;
    transition-duration: var(--transition-duration-fast);
    border-radius: var(--space-xs);
    padding: var(--space-s) var(--space-m);
    font-size: var(--font-size-m);
    line-height: 1.2;

    &:hover,
    &:focus {
      color: var(--color-white);
      background: var(--color-accent-highlight);
      text-decoration: none;
    }

    & .ln {
      margin-left: var(--space-xs);
      filter: brightness(100%) contrast(100);
      position: relative;
      top: 1px;
    }
  }

  & .description {
    & p {
      text-align: left;
      margin-bottom: 0;
      font-size: var(--font-size-s);
    }

    & .more {
      display: none;
    }

    &.expanded {
      & .showMore {
        display: none;
      }

      & .more {
        display: unset;
      }
    }
  }

  & .tags {
    text-align: center;
    margin-top: var(--space-s);

    & a {
      font-size: var(--font-size-xs);
      display: inline-block;
      margin-top: var(--space-s);
      margin-right: var(--space-s);
      color: var(--color-white);
      background: var(--color-neutral-80);
      border: 1px solid var(--color-neutral-70);
      border-radius: var(--space-xs);
      padding: var(--space-xxs) var(--space-s);

      &:hover,
      &:focus {
        background: var(--color-neutral-70);
        text-decoration: none;
      }
    }
  }
}

.footer {
  color: var(--color-neutral-40);
  background: var(--color-neutral-95);
  font-size: var(--font-size-s);
  margin-top: var(--space-xxl);
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);

  /* @media (prefers-color-scheme: light) {
    color: var(--color-neutral-90);
    background: var(--color-neutral-20);
  } */

  & p {
    margin-bottom: 0;
  }

  & a {
    color: var(--color-accent-highlight);
  }

  & .wrap {
    @media (--M_and_up) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
